    /*Your Custom Style sheet goes here*/
font-family: 'Lato', sans-serif;


@import url(http://fonts.googleapis.com/css?family=Nunito:700);
body {
  background: rgb(122, 224, 180);
}

@keyframes neutrino {
  0% {
    left: 37px;
    top: -8px;
  }
  10% {
    left: 70px;
    top: 20px;
  }
  25% {
    left: 85px;
    top: 90px;
  }
  40% {
    left: 70px;
    top: 270px;
  }
  50% {
    left: 37px;
    top: 290px;
  }
  60% {
    left: 10px;
    top: 270px;
  }
  75% {
    left: -10px;
    top: 90px;
  }
  90% {
    left: 0px;
    top: 20px;
  }
}

.atom {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px auto;
  padding-top: 108px;
  font-family: 'Nunito', sans-serif;
  font-size: 63px;
  color: rgba(255, 255, 255, 0.4);
}

.line {
  position: absolute;
  top: 0;
  left: 100px;
  width: 98px;
  height: 298px;
  border: 1px solid #fff;
  border-radius: 120px / 350px;
}

