    /*Your Custom Style sheet goes here*/
font-family: 'Lato', sans-serif;

@import url(http://fonts.googleapis.com/css?family=Dosis:400,700);
body {
  position: relative;
  margin: 0;
  background: url(http://dl.dropbox.com/s/j7a4a1cjlk1i9fm/wood.jpg);
}

.mainwrapper {
  position: relative;
  display: block;
  width: 800px;
  margin: 0 auto;
}

.boardwrapper {
  position: relative;
  display: block;
  width: 800px;
  height: 250px;
}

.boardwrapper > ul {
  list-style-type: none;
  position: absolute;
  display: block;
  left: 0;
  top: 55px;
  margin: 0;
  padding: 0;
}

.boardwrapper > ul li {
  float: left;
  margin: 0 5px;
  width: 180px;
  position: relative;
}

.boardwrapper > ul li:first-child {
  margin-left: 25px;
}

.boardwrapper > ul li:last-child {
  margin-right: 25px;
}

.woodwrap {
  position: absolute;
  display: block;
  width: 800px;
  height: 65px;
  bottom: 0;
  left: 0;
  z-index: -2;
}
.woodwrap:before {
  position: absolute;
  display: block;
  content: "";
  width: 160%;
  height: 100px;
  bottom: -25px;
  left: -30%;
  z-index: -1;
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(51%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0) 100%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#00000000', GradientType=1);
}

