    /*Your Custom Style sheet goes here*/


html,
body {
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Lato', sans-serif;
  color: #817a53;
  background: #d8d6cb;
}

p {
  margin: 0;
  padding: 4px;
}

div {
  margin: 0;
  padding: 0;
}

#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 740px;
  height: 680px;
  margin: -340px 0 0 -370px;
  padding: 0;
}
/* Header start */

#header {
  text-align: center;
  margin: 0 0 30px 0;
  padding: 15px 0 15px 0;
}

#txt_title {
  color: #3d381b;
  font-size: 34px;
  text-align: center;
  text-shadow: 0 -1px 2px rgba(255, 255, 255, .5);
}

#txt_subtitle {
  font-size: 17px;
  text-align: center;
}
                /* Header end */

    /* Label and percentage data start */

#labels {
  position: absolute;
  left: 540px;
  top: 150px;
  width: 120px;
}

#percentage_wrapper {
  position: absolute;
  left: 665px;
  top: 151px;
  width: 50px;
  height: 124px;
  overflow: hidden;
}

#percentage {
  position: absolute;
  clip: rect(0px, 50px, 125px, 0px);
}

