    /*Your Custom Style sheet goes here*/


html,
body {
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Lato', sans-serif;
  color: #817a53;
  background: #d8d6cb;
}

p {
  margin: 0;
  padding: 4px;
}

div {
  margin: 0;
  padding: 0;
}

#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 740px;
  height: 680px;
  margin: -340px 0 0 -370px;
  padding: 0;
}
/* Header start */

#header {
  text-align: center;
  margin: 0 0 30px 0;
  padding: 15px 0 15px 0;
}

#txt_title {
  color: #3d381b;
  font-size: 34px;
  text-align: center;
  text-shadow: 0 -1px 2px rgba(255, 255, 255, .5);
}

#txt_subtitle {
  font-size: 17px;
  text-align: center;
}
                /* Header end */

    /* Label and percentage data start */

#labels {
  position: absolute;
  left: 540px;
  top: 150px;
  width: 120px;
}

#percentage_wrapper {
  position: absolute;
  left: 665px;
  top: 151px;
  width: 50px;
  height: 124px;
  overflow: hidden;
}

#percentage {
  position: absolute;
  clip: rect(0px, 50px, 125px, 0px);
}

#labels ul,
#percentage ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #333333;
}

#labels li,
#percentage li {
  display: block;
  margin: 0;
  padding: 0 0 8px 0;
}

#labels span {
  display: block;
  float: left;
  width: 8px;
  height: 8px;
  margin: 5px 5px 0 0;
  background: #FFFFFF;
}

#labels ul:nth-child(1) span {
  background: #0092B9;
}

#labels ul:nth-child(2) span {
  background: #86AD00;
}

#labels ul:nth-child(3) span {
  background: #F2B705;
}

#labels ul:nth-child(4) span {
  background: #D97904;
}

#labels ul:nth-child(5) span {
  background: #BC3603;
}

#percentage p {
  display: block;
  width: 50px;
  margin: 0;
  padding: 0 0 8px 0;
  float: left;
}

#percentage ul {
  position: absolute;
  width: 300px;
}

#q2_2010:target #percentage ul {
  left: -0px;
}

#q1_2010:target #percentage ul {
  left: -50px;
}

#q4_2009:target #percentage ul {
  left: -100px;
}

#q3_2009:target #percentage ul {
  left: -150px;
}

#q2_2009:target #percentage ul {
  left: -200px;
}

#q1_2005:target #percentage ul {
  left: -250px;
}
                /* Label and percentage data end */

/* Slider (contains two chart div) start */

#slider {
  width: 300px;
  height: 350px;
  margin: 0 auto;
  padding: 0 auto;
  overflow-y: hidden;
  overflow-x: auto;
}

#slider::-webkit-scrollbar {
  /* webkit only */

  height: 12px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#beb8a1), to(#cfcab9));
  -webkit-border-radius: 6px;
}

#slider::-webkit-scrollbar-thumb {
  /* webkit only */

  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8c8775), to(#7f7a6a));
  -webkit-border-radius: 6px;
}
#pie_ico,
#pyr_ico {
  position: absolute;
  width: 80px;
  height: 26px;
  top: 464px;
  text-align: center;
}

#pie_ico {
  left: 137px
}

#pyr_ico {
  left: 535px
}
/* Slider end */
