    /*Your Custom Style sheet goes here*/
font-family: 'Lato', sans-serif;

/*PEN STYLES*/
.blog-card {
  transition: height 0.3s ease;
  -webkit-transition: height 0.3s ease;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
  margin: 0 auto 1.6%;
  overflow: hidden;
  position: relative;
  font-size: 14px;
}
.blog-card:hover .details {
  left: 0;
}
.blog-card:hover.alt .details {
  right: 0;
}
.blog-card.alt .details {
  right: -100%;
  left: inherit;
}
.blog-card .photo {
  height: 200px;
  position: relative;
}
.blog-card .photo.photo1 {
  background: url("http://i62.tinypic.com/34oq4o0.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo2 {
  background: url("http://i60.tinypic.com/xeiv79.jpg") center no-repeat;
  background-size: cover;
}

