    /*Your Custom Style sheet goes here*/
font-family: 'Lato', sans-serif;



body {
  width: 100%;
  height: 100%;
  background-color: #fde07c;
}
.preloader_horizontal {
  min-width: 100px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 50%;
  left: 0;
  overflow: hidden;
  -webkit-transform: translateZ(0px) translate(-50%, 0);
  transform: translateZ(0px) translate(0, 0);
  z-index: 2;
}
.animate_element {
  position: relative;
  width: 100%;
  height: 50px;
  animation: horisontal_move 8s infinite linear;
  -webkit-animation: horisontal_move 8s infinite linear;
}
.animate_auto_up {
  width: 75px;
  height: 20px;
  position: absolute;
  bottom: 28px;
  left: 20px;
  background-color: #000;
  border-radius: 20px 20px 0 0;
}
.animate_auto_up::before {
  background-color: #fff;
  content: "";
  width: 30px;
  height: 15px;
  position: absolute;
  right: 5px;
  top: 3px;
  border-radius: 0 25px 0 0;
}
.animate_auto_up::after {
  content: "";
  width: 30px;
  height: 15px;
  left: 5px;
  position: absolute;
  top: 3px;
  border-radius: 15px 0 0;
  background-color: #fff;
}
.animate_auto_down {
  width: 120px;
  height: 18px;
  position: absolute;
  bottom: 10px;
  left: 0;
  background-color: #000;
  border-radius: 10px 10px 0 0;
}
.wheel_back {
  width: 25px;
  height: 25px;
  bottom: 0;
  left: 15px;
  position: absolute;
  background-color: #000;
  border-radius: 50%;
  animation: wheel_rotate 0.3s infinite linear;
  -webkit-animation: wheel_rotate 0.3s infinite linear;
}
.wheel_back::before {
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  left: 7px;
  top: 10px;
  z-index: 2;
  background-color: #000;
  border-radius: 50%;
}
.wheel_back::after {
  content: "";
  width: 10px;
  height: 17px;
  position: absolute;
  left: 8px;
  top: 7px;
  border-radius: 50%;
  background-color: #fff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.wheel_front {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 0;
  left: 80px;
  background-color: #000;
  border-radius: 50%;
  animation: wheel_rotate 0.3s infinite linear;
  -webkit-animation: wheel_rotate 0.3s infinite linear;
}
.wheel_front::before {
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  left: 7px;
  top: 10px;
  z-index: 2;
  background-color: #000;
  border-radius: 50%;
}
.wheel_front::after {
  content: "";
  width: 10px;
  height: 17px;
  position: absolute;
  left: 8px;
  top: 7px;
  background-color: #fff;
  border-radius: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.smoke {
  width: 60px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: -60px;
}
.smoke_item {
  width: 5px;
  height: 5px;
  position: absolute;
  right: 0;
  top: 10px;
  opacity: 0.3;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  background-color: #000;
  border-radius: 50%;
}
.smoke_item1 {
  animation: smoke1 1.5s infinite ease-out;
  -webkit-animation: smoke1 1.5s infinite ease-out;
}
.smoke_item2 {
  animation: smoke2 1.5s infinite ease-out;
  -webkit-animation: smoke2 1.5s infinite ease-out;
  animation-delay: .4s;
  -webkit-animation-delay: .4s;
}
.smoke_item3 {
  animation: smoke1 1.5s infinite ease-out;
  -webkit-animation: smoke1 1.5s infinite ease-out;
  animation-delay: .8s;
  -webkit-animation-delay: .8s;
}
.smoke_item4 {
  animation: smoke2 1.5s infinite ease-out;
  -webkit-animation: smoke1 1.5s infinite ease-out;
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}
.road {
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  top: 53%;
  z-index: 1;
  background-color: #c1c1c1;
  box-shadow: 0 0 10px rgba(170, 170, 170, 0.7);
}
.road::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 50%;
  border-bottom: 3px dashed #fff;
}
.piles {
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  top: 53%;
  z-index: 3;
}
.pile {
  width: 10px;
  height: 20px;
  bottom: -5px;
  position: absolute;
  background-color: #fff;
}
.pile::after {
  content: "";
  height: 5px;
  display: block;
  position: relative;
  top: 7px;
  width: 10px;
  overflow: hidden;
  transform: skewY(-20deg);
  -webkit-transform: skewY(-20deg);
  background-color: #000;
}
.pile1 {
  left: 0;
}
.pile2 {
  left: 10%;
}
.pile3 {
  left: 20%;
}
.pile4 {
  left: 30%;
}
.pile5 {
  left: 40%;
}
.pile6 {
  left: 50%;
}
.pile7 {
  left: 60%;
}
.pile8 {
  left: 70%;
}
.pile9 {
  left: 80%;
}
.pile10 {
  left: 90%;
}
.cloud1 {
  width: 50px;
  height: 35px;
  position: absolute;
  top: 26%;
  right: 0;
  border-radius: 50%;
  background-color: #cdf4fe;
  box-shadow: 1px 1px 5px #e7f9fe;
  animation: cloud 10s infinite linear;
  -webkit-animation: cloud 10s infinite linear;
}
.cloud1::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  background-color: #cdf4fe;
  box-shadow: 1px -2px 3px #e7f9fe;
}
.cloud1::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #cdf4fe;
  border-radius: 50%;
  box-shadow: 1px 2px 3px #e7f9fe;
}
.cloud2 {
  width: 70px;
  height: 40px;
  position: absolute;
  top: 30%;
  right: 0;
  background-color: #cdf4fe;
  border-radius: 50%;
  box-shadow: 1px 1px 5px #e7f9fe;
  animation: cloud 15s infinite linear;
  -webkit-animation: cloud 15s infinite linear;
}
.cloud2::before {
  content: "";
  width: 40px;
  height: 20px;
  position: absolute;
  right: 20%;
  bottom: -5px;
  border-radius: 50%;
  background-color: #cdf4fe;
  box-shadow: 1px 2px 3px #e7f9fe;
}
.cloud2::after {
  content: "";
  width: 30px;
  height: 20px;
  position: absolute;
  left: 30%;
  right: 0;
  top: -5px;
  background-color: #cdf4fe;
  border-radius: 50%;
  box-shadow: 1px -2px 3px #e7f9fe;
}
@keyframes horisontal_move {
  from {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  to {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
}
@keyframes smoke1 {
  from {
    width: 5px;
    height: 5px;
    opacity: 0.3;
    right: 0;
    top: 5px;
  }
  to {
    width: 20px;
    height: 20px;
    opacity: 0.1;
    right: 40px;
    top: 10px;
  }
}
@keyframes smoke2 {
  from {
    width: 5px;
    height: 5px;
    opacity: 0.3;
    right: 0;
    top: 5px;
  }
  to {
    width: 20px;
    height: 20px;
    opacity: 0.1;
    right: 40px;
    top: -5px;
  }
}
@keyframes wheel_rotate {
  from {
    transform: rotate(0);
    -webkit-transform: rotate(0);
  }
  to {
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
  }
}
@keyframes cloud {
  0% {
    right: 0;
    transform: rotate(0);
    -webkit-transform: rotate(0);
  }
  25% {
    right: 25%;
    transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
  }
  50% {
    right: 50%;
    transform: rotate(0);
    -webkit-transform: rotate(0);
  }
  75% {
    right: 75%;
    transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
  }
  100% {
    right: 100%;
    transform: rotate(0);
    -webkit-transform: rotate(0);
  }
}

