    /*Your Custom Style sheet goes here*/
font-family: 'Lato', sans-serif;



body {
  width: 100%;
  height: 100%;
  background-color: #fde07c;
}
.preloader_horizontal {
  min-width: 100px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 50%;
  left: 0;
  overflow: hidden;
  -webkit-transform: translateZ(0px) translate(-50%, 0);
  transform: translateZ(0px) translate(0, 0);
  z-index: 2;
}
.animate_element {
  position: relative;
  width: 100%;
  height: 50px;
  animation: horisontal_move 8s infinite linear;
  -webkit-animation: horisontal_move 8s infinite linear;
}
.animate_auto_up {
  width: 75px;
  height: 20px;
  position: absolute;
  bottom: 28px;
  left: 20px;
  background-color: #000;
  border-radius: 20px 20px 0 0;
}
.animate_auto_up::before {
  background-color: #fff;
  content: "";
  width: 30px;
  height: 15px;
  position: absolute;
  right: 5px;
  top: 3px;
  border-radius: 0 25px 0 0;
}
.animate_auto_up::after {
  content: "";
  width: 30px;
  height: 15px;
  left: 5px;
  position: absolute;
  top: 3px;
  border-radius: 15px 0 0;
  background-color: #fff;
}
.animate_auto_down {
  width: 120px;
  height: 18px;
  position: absolute;
  bottom: 10px;
  left: 0;
  background-color: #000;
  border-radius: 10px 10px 0 0;
}
.wheel_back {
  width: 25px;
  height: 25px;
  bottom: 0;
  left: 15px;
  position: absolute;
  background-color: #000;
  border-radius: 50%;
  animation: wheel_rotate 0.3s infinite linear;
  -webkit-animation: wheel_rotate 0.3s infinite linear;
}
.wheel_back::before {
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  left: 7px;
  top: 10px;
  z-index: 2;
  background-color: #000;
  border-radius: 50%;
}
.wheel_back::after {
  content: "";
  width: 10px;
  height: 17px;
  position: absolute;
  left: 8px;
  top: 7px;
  border-radius: 50%;
  background-color: #fff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.wheel_front {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 0;
  left: 80px;
  background-color: #000;
  border-radius: 50%;
  animation: wheel_rotate 0.3s infinite linear;
  -webkit-animation: wheel_rotate 0.3s infinite linear;
}
.wheel_front::before {
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  left: 7px;
  top: 10px;
  z-index: 2;
  background-color: #000;
  border-radius: 50%;
}
.wheel_front::after {
  content: "";
  width: 10px;
  height: 17px;
  position: absolute;
  left: 8px;
  top: 7px;
  background-color: #fff;
  border-radius: 50%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.smoke {
  width: 60px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: -60px;
}
.smoke_item {
  width: 5px;
  height: 5px;
  position: absolute;
  right: 0;
  top: 10px;
  opacity: 0.3;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  background-color: #000;
  border-radius: 50%;
}
.smoke_item1 {
  animation: smoke1 1.5s infinite ease-out;
  -webkit-animation: smoke1 1.5s infinite ease-out;
}
.smoke_item2 {
  animation: smoke2 1.5s infinite ease-out;
  -webkit-animation: smoke2 1.5s infinite ease-out;
  animation-delay: .4s;
  -webkit-animation-delay: .4s;
}
.smoke_item3 {
  animation: smoke1 1.5s infinite ease-out;
  -webkit-animation: smoke1 1.5s infinite ease-out;
  animation-delay: .8s;
  -webkit-animation-delay: .8s;
}
.smoke_item4 {
  animation: smoke2 1.5s infinite ease-out;
  -webkit-animation: smoke1 1.5s infinite ease-out;
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

