    /*Your Custom Style sheet goes here*/
font-family: 'Lato', sans-serif;

body {
  background: #fff0e0;
}
nav {
  transform: perspective(500px)
             rotateX(-30deg)
             rotateZ(-30deg)
             translate(0px, 100px);
  transform-origin: 0 0;
}
nav ul {
  list-style: none;
  padding: 0;
  width: 48px
}
nav li {
  margin-bottom: -1px;
}
nav a {
  background-color: #f6f6f6;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 1px solid #bbb;
  box-shadow: 0 1px 0 #bbb,
              -1px 0 0 #bbb,
              -1px 2px 0 #bbb,
              -2px 2px 0 #bbb,
              -16px 24px 16px hsla(0,0%,0%,.15);
  cursor: pointer;
  display: block;
  height: 32px;
  padding: 8px;
  position: relative;
  text-indent: -9999px;
  width: 32px;
}
