// Remy
@function remy($value) {
  @return ($value / 16px) * 1rem;
}
/**
 * Scrollbar hacks
 */
::-webkit-scrollbar,
::-webkit-scrollbar-track {width: .85rem;}
::-webkit-scrollbar-track {background: #666;}
::-webkit-scrollbar-thumb {
  width: .85rem;
  height: 45px;
  background: #222;
}
::-webkit-scrollbar-thumb:hover {background: #111;}
/**
 * Base
 */
body {
  font: 100% / 1.414 "Roboto", arial, sans-serif;
  background-color: #f1f1f1;
}
.wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: remy(480px);
  height: remy(640px);
  box-shadow: 0 5px 5px rgba(0,0,0,.22);
  transform: translateY(-50%);
}

header {background: rgba(0,0,0,.85);}
header svg {
  fill: rgba(255,255,255,.9);
  cursor: pointer;
  transition: fill .25s ease-in;
  &:focus,
  &:hover {
    text-decoration: none;
    fill: rgba(255,255,255,.5);
  }
}
.feed {
  position: relative;
  overflow-y: auto;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 5rem !important;
  padding-left: 1.5rem;
  height: 100%;
  background: url(http://ultraimg.com/images/waterfall-tourists.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/**
 * Card styles
 */
.card {
  overflow: hidden;
  border: none;
  border-radius: 2px;
  box-shadow: 0 5px 5px rgba(0,0,0,.22);
  transition: box-shadow .25s ease-in;
  &:focus,
  &:hover {box-shadow: 0 13px 8px rgba(0,0,0,.22);}
}
.card-img {width: 100%;}
.card-img-overlay {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: background .25s ease-in;
  background: rgba(0,0,0,.31);
}
.card .card-img-overlay:focus,
.card .card-img-overlay:hover {
  background: rgba(0,0,0,.15);
}
.card-img-overlay > .card-block {align-self: flex-end;}
.card-title {
  font-size: 1.5rem;
  font-weight: 300;
}
.card-inverse .card-text {color: #fff;}
.card a {
  color: rgba(255,255,255,1);
  transition: color .25s ease-in;
  &:focus,
  &:hover {
    text-decoration: none;
    color: rgba(255,255,255,.5);
  }
}
.
btn {
  position: fixed;
  right: 2.25rem;
  bottom: -4rem;
  padding: .9rem .9rem;
  line-height: 0;
  background-color: #e91e63;
  border-radius: 50%;
  box-shadow: 0 8px 8px rgba(0,0,0,.22);
  transition: box-shadow .25s ease-in;
  &:focus,
  &:hover {box-shadow: 0 13px 8px rgba(0,0,0,.3);}
  &:focus svg,
  &:hover svg {fill: rgba(255,255,255,.5);}
}
.btn svg {
  fill: rgba(255,255,255,.9);
  transition: fill .25s ease-in;
}
