    /*Your Custom Style sheet goes here*/
html {
	overflow: hidden;
	touch-action: none;
	content-zooming: none;
}
body {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #000;
}
canvas {
	position:absolute;
	width:100%;
	height:100%;
	background: #fff;
	cursor: none;
}
