    /*Your Custom Style sheet goes here*/
/*font-family: 'Lato', sans-serif;*/

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
}

$openSans: 'Open Sans', Helvetica, Arial, sans-serif;

body {
  background: #F2E274;
  font-family: $openSans;
}

$w: 26rem;
$h: 44rem;
$animStep: 0.4s;
$menuItemSlideAT: 0.2s;
$menuItemClickedAT: 0.3s;
$menuTextAT: $menuItemSlideAT + $menuItemClickedAT / 2;

.demo {
  z-index: 1;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  width: $w;
  height: $h;
  margin-left: $w/-2;
  margin-top: $h/-2;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0.3rem 0.5rem 0.5rem rgba(0,0,0,0.2);

