    /*Your Custom Style sheet goes here*/
/*font-family: 'Lato', sans-serif;*/

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
}

$openSans: 'Open Sans', Helvetica, Arial, sans-serif;

body {
  background: #F2E274;
  font-family: $openSans;
}

$w: 26rem;
$h: 44rem;
$animStep: 0.4s;
$menuItemSlideAT: 0.2s;
$menuItemClickedAT: 0.3s;
$menuTextAT: $menuItemSlideAT + $menuItemClickedAT / 2;

.demo {
  z-index: 1;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  width: $w;
  height: $h;
  margin-left: $w/-2;
  margin-top: $h/-2;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0.3rem 0.5rem 0.5rem rgba(0,0,0,0.2);

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.15);
    pointer-events: none;
    opacity: 0;
    transition: opacity $animStep $menuTextAT;

    .demo.menu-active & {
      opacity: 1;
      transition: opacity $animStep $animStep;
    }
  }

  &__menu-btn {
    z-index: 3;
    position: absolute;
    left: 2rem;
    top: 2rem;
    width: 2.4rem;
    height: 1.6rem;
    transition: transform $animStep $animStep + $menuTextAT;
    cursor: pointer;
    transform: translate3d(0,0,0);

    .demo.menu-active & {
      transition: transform $animStep;
      transform: translate3d(-2rem,0,0);
    }

    &-line {
      position: absolute;
      left: 0;
      width: 100%;
      height: 0.2rem;
      background: #879BAF;
      transition: width $animStep $animStep + $menuTextAT, transform $animStep $menuTextAT;
      transform: translate3d(0,0,0);

      .demo.menu-active & {
        width: $w;
        transition: width $animStep, transform $animStep $animStep * 0.8;
      }

      &:nth-child(1) {
        top: 0;

        .demo.menu-active & {
          transform: translate3d(0,4rem,0);
        }
      }
      &:nth-child(2) {
        top: 0.7rem;

        .demo.menu-active & {
          transform: translate3d(0,9.5rem,0);
        }
      }
      &:nth-child(3) {
        top: 1.4rem;

        .demo.menu-active & {
          transform: translate3d(0,15rem,0);
        }
      }
    }
  }

  &__menu-bg {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 24.8rem;
    background: #fff;
    border-bottom: 0.2rem solid #879BAF;
    transform: scaleY(0.3);
    transform-origin: 50% 0;
    opacity: 0;
    transition: opacity $animStep / 2 $animStep / 2 + $menuTextAT, transform $animStep $menuTextAT;
    pointer-events: none;

    .demo.menu-active & {
      pointer-events: auto;
      transform: scaleY(1);
      opacity: 1;
      transition: opacity $animStep / 2 $animStep, transform $animStep $animStep;
    }
  }

  &__menu-items {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    pointer-events: none;

    .demo.menu-active & {
      pointer-events: auto;
    }
  }

      &__menu-item {
    height: 6rem;
    padding-left: 2rem;
    margin-bottom: 0.2rem;
    font-size: 1.8rem;
    line-height: 6rem;
    color: #7F91A4;
    background-color: rgba(#7F91A4, 0);
    opacity: 0;
    transform: translateX(-1rem);
    transition: opacity $menuItemSlideAT $menuItemClickedAT / 2, transform $menuItemSlideAT $menuItemClickedAT / 2;
    cursor: pointer;

    &.clicked {
      animation: menuItemClicked $menuItemClickedAT;
    }

    .demo.menu-active &  {
      opacity: 1;
      transform: translateX(0);

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          transition: opacity $menuItemSlideAT $animStep + ($i - 1) * 0.15s, transform $menuItemSlideAT $animStep + ($i - 1) * 0.15s;
        }
      }
    }
  }

      &__section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 7rem 2rem 0;
    opacity: 0;
    transition: opacity $animStep;
    pointer-events: none;

    &:after {
      content: "";
      position: absolute;
      left: 1rem;
      bottom: 1rem;
      width: $w - 2rem;
      height: 17rem;
      border-radius: 0.5rem;
      background: #E7F6FB;
    }

    &.active-section {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__section-heading {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 2.2rem;
    text-transform: uppercase;
  }

  &__description {
    text-align: center;
    font-size: 1.5rem;
  }
}

@keyframes menuItemClicked {
  0% {
    background-color: #7F91A4;
  }
  100% {
    background-color: rgba(#7F91A4,0);
  }

}
