    /*Your Custom Style sheet goes here*/

    /*
        font-family: 'Lato', sans-serif;

    */

body {
  background: #111;
}
.loader {
  position: relative;
  padding-top: 100px;
  width: 40px;
  margin: auto;
}
