    /*Your Custom Style sheet goes here*/

body {
  background: #eee;
}

.left-arm,
.right-arm,
.antenna:before,
.antenna:after,
.head,
.droid-body,
.left-leg,
.right-leg {
  background: #A4C639;
}

.left-arm,
.right-arm,
.left-leg,
.right-leg,
.droid {
  float: left;
}

.android-container {
  width: 200px;
  margin: 20px auto;
  animation: droid-rotate 2s ease-in-out infinite;
  transform-origin: bottom left;
}


@keyframes droid-rotate {
  0%, 100% {
    transform: rotate(0);
  }
  25%,
  75% {
    transform: rotate(-5deg);
  }
}

