    /*Your Custom Style sheet goes here*/
font-family: 'Lato', sans-serif;

body {
	background-color: black;
	overflow: hidden;
}

/*@media (min-width: 450px) {
	body {
		zoom: 1.5;
	}
}

@media (min-width: 700px) {
	body {
		zoom: 2.5;
	}
}*/

.menu {
	width: 300px;
	height: 200px;
	margin: 0 auto 100px;
	position: relative;
	-webkit-filter: url("#goo");
	filter: url("../menu.html#goo");
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.menu-wrapper {
	position: absolute;
	left: 50%;
	bottom: 10px;
}

.menu-toggle-button,
.menu-item-bounce,
.menu-item-button {
	background-color: rgb(1,206,53);
  background-image: none;
  background-repeat: repeat;
  background-position: top left;
  background-attachment: scroll;

	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin-left: -40px;
	margin-top: -40px;
	color: #fff;
	border: none;
	outline: none;
	position: relative;
	-moz-transition: background-color 100ms linear;
	-webkit-transition: background-color 100ms linear;
	transition: background-color 100ms linear;
}

