    /*Your Custom Style sheet goes here*/
/*
font-family: 'Lato', sans-serif;
*/

html {
  background: hsl(50,50%,90%);
}
body {
  text-align: center;
  padding-top: 100px;
}

button.register {
  background-color: hsl(200,80%,40%);
	border: 1px solid hsl(200,80%,30%);
}
button.login {
  background-color: hsl(0,80%,40%);
	border: 1px solid hsl(0,80%,30%);
}
