    /*Your Custom Style sheet goes here*/
/*font-family: 'Lato', sans-serif;*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  background-color: #e2e2e2;
  background-image: radial-gradient(50% 50%, circle, #ffffff, #999999 100%);
}
.page {
  position: relative;
  top: 25px;
  margin: auto;
  width: 632px;
  height: 100%;
  font-size: 0;
  column-count: 4;
  column-gap: 0;
}
.tile {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 4px;
  cursor: pointer;
  overflow: hidden;
}
.tile .live {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  overflow: hidden;
}
.tile img {
  position: absolute;
  width: 100%;
  height: inherit;
  z-index: 0;
}
.tile .description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 14px;
  color: #e2e2e2;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.tile .description .text {
  padding: 5px 7px;
}
.tile .tag {
  position: absolute;
  left: 0;
  bottom: 40px;
  height: 16px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f2f2f2;
  z-index: 1;
}
.tile .tag .text {
  padding: 2px 7px;
}
.tile .tag.red {
  background: rgba(255, 20, 0, 0.7);
}
.tile .tag.blue {
  background: rgba(0, 67, 250, 0.7);
}
.tile .tag.orange {
  background: rgba(213, 135, 0, 0.7);
}
.tile .tag.green {
  background: rgba(61, 176, 0, 0.7);
}
.tile .tag.purple {
  background: rgba(153, 3, 176, 0.7);
}
.tile .tag.yellow {
  background: rgba(255,255,0,0.3);
}
.tile.wide {
  width: 248px;
}
.tile:hover {
  transform: scale(0.96, 0.96);
}
.tile:active {
  transform: scale(0.94, 0.94);
}
