    /*Your Custom Style sheet goes here*/
font-family: 'Lato', sans-serif;

	/*	On the Index.html there is already an import of the fonts and @import url(http://fonts.googleapis.com/css?family=Lato);*/

		body {
			background-color: #4681a0;
			color: #fff;
			font-family: 'Lato', sans-serif;
			letter-spacing: 0.06em;
			margin: 0;
			text-align: center;
		}
		h1 {
			font-family: Tahoma, Geneva, sans-serif;
			font-size: 46px;
			font-weight: normal;
			letter-spacing: 0.08em;
		}
		p {
    		margin-bottom: 50px;
		}
		a:link, a:visited {
    		background-color: #eec75e;
    		box-shadow: 0px 1px 3px #273a45;
    		color: #273a45;
    		font-family: 'Lato', sans-serif;
    		padding: 12px 15px;
    		text-decoration: none;
    		text-transform: uppercase;
    		-webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
    		-o-transition-duration: 0.5s;
     		transition-duration: 0.5s;
		}
		a:hover {
            background-color: #e2bb53;
            -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
    		-o-transition-duration: 0.5s;
            transition-duration: 0.5s;
		}
		.pin {
			background-color: #4681a0;
			border: 1px solid #45555f;
			border-radius: 50%;
			box-shadow: 0px 1px 6px #273a45;
			cursor: pointer;
			height: 140px;
			margin: 100px auto 50px auto;
			position: relative;
			width: 140px;
			z-index: 1;
		}
		    .match {
    		    bottom: 0;
    		    left: 0;
    		    position: absolute;
    		    z-index: 100;
		    }

		    .flame {
    		    opacity: 0.0;
    		    z-index: 10;
		    }

			.pin:hover {
				box-shadow: 0px 1px 14px #273a45;
                -webkit-transition-duration: 1.5s;
                -moz-transition-duration: 1.5s;
    		    -o-transition-duration: 1.5s;
     		   transition-duration: 1.5s;
			}
			.pin:hover img.flame {
    			opacity: 1.0;

                -moz-animation: spin .15s infinite linear;
                -webkit-animation: spin .15s infinite linear;


    			-webkit-transition-duration: 3.0s;
                -moz-transition-duration: 3.0s;
    		    -o-transition-duration: 3.0s;
     		   transition-duration: 3.0s;
			}

		@-moz-keyframes spin {
            0% {
                -moz-transform: rotate(-10deg);
            }

            100% {
                -moz-transform: rotate(10deg);
            };
        }
