    /*Your Custom Style sheet goes here*/

* {
  padding: 0px;
  margin: 0px;
}

html,
body {
  background: #000;
  width: 100%;
  height: 100%;
}

#wrap {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto 0 auto;
  overflow: hidden;
}

#lightings {
  bottom: -60px;
  position: absolute;
  width: 100%;
}

section {
  /*border-radius*/

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 20px;
  width: 100%;
  position: relative;
  margin: auto;
}

#one {
  /*animation*/

  -webkit-animation: one 5s ease-in-out infinite alternate;
  -moz-animation: one 5s ease-in-out infinite alternate;
  -ms-animation: one 5s ease-in-out infinite alternate;
  -o-animation: one 5s ease-in-out infinite alternate;
  animation: one 5s ease-in-out infinite alternate;
}
@-webkit-keyframes one {
  from {
    -webkit-box-shadow: 0 0 250px 20px #473C78;
  }
  to {
    -webkit-box-shadow: 0 0 100px 15px #F72A3B;
  }
}

@-moz-keyframes one {
  from {
    -moz-box-shadow: 0 0 250px 20px #473C78;
  }
  to {
    -moz-box-shadow: 0 0 100px 15px #F72A3B;
  }
}

@-o-keyframes one {
  from {
    -o-box-shadow: 0 0 250px 20px #473C78;
  }
  to {
    -o-box-shadow: 0 0 100px 15px #F72A3B;
  }
}

@keyframes one {
  from {
    box-shadow: 0 0 250px 20px #473C78;
  }
  to {
    box-shadow: 0 0 100px 15px #F72A3B;
  }
}



