    /*Your Custom Style sheet goes here*/
font-family: 'Lato', sans-serif;

$blue:#03A9F4;

@mixin transition($in) {
	transition:$in;
	-webkit-transition:$in;
	-moz-transition:$in;
	-o-transition:$in;
	-ms-transition:$in;
}
@mixin transform($in) {
	transform:$in;
	-webkit-transform:$in;
	-moz-transform:$in;
	-o-transform:$in;
	-ms-transform:$in;
}
@mixin box-shadow($in) {
	box-shadow:$in;
	-webkit-box-shadow:$in;
	-moz-box-shadow:$in;
	-o-box-shadow:$in;
	-ms-box-shadow:$in;
}

body {
	margin:0;
	padding:0;
	background-color:#222;
	overflow:hidden;
}
* {
	font-family:Helvetica,sans-serif;
	color:#aaa;
}

main.wrapper {
	margin:100px 100px 0 0;
}

.bar {
	width:150%;
	background-color:#222;
	@include box-shadow(0 -5px 20px 2px rgba(0,0,0,0.5));
	padding:30px 50px;
	text-align:center;
	max-height:200px;

	&:nth-child(2) {
		margin-left:-88px;
		margin-top:-40px;
	}
	&:nth-child(3) {
		margin-left:-156px;
		margin-top:-40px;
	}

	@include transform(rotateZ(20deg));

	.content,.name {
		width:30%;
		margin:10px auto;
		cursor:pointer;
	}

	.content {
		overflow:hidden;
		height:0px;
	}

	.name {
		display:block;
		font-size:30px;
		margin-bottom:20px;
		text-shadow:0px 1px 5px #888;
		color:#222;

		@include transition(all 0.5s ease);
	}


}

.checky {
	display:none;

	&:checked~.content {
		height:100%;
	}
	&:checked~.name {
		color:$blue;
		text-shadow:0px 1px 5px $blue;
	}
}
