    /*Your Custom Style sheet goes here*/


    @import url(https://fonts.googleapis.com/css?family=Oswald);
    * {
      box-sizing: border-box;
    }
    body {
      background-color: #FFD110;
      font-family: 'Oswald', sans-serif;
      font-size: 100%;
      margin: 0;
      text-align: center;
    }
    .wrapper {
      height: 50px;
      margin-top: calc(50vh - 25px);
      margin-left: calc(50vw - 100px);
      width: 180px;
    }
