    /*Your Custom Style sheet goes here*/

body {
  background: #111117;
}
#loader {
  animation: loader 5s cubic-bezier(.8,0,.2,1) infinite;
  height: 120px;
  width: 121px;
  position: absolute;
  top:calc(50% - 20px);
  left:calc(50% - 20px);
}
@keyframes loader {
  90% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}
#top {
  animation: top 5s linear infinite;
  border-top: 100px solid #FFC107;
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
  height: 0px;
  width: 1px;
  transform-origin: 50% 100%;
}
@keyframes top {
  90% { transform: scale(0); }
  100% { transform: scale(0);}
}
#bottom {
  animation: bottom 5s linear infinite;
  border-right: 100px solid transparent;
  border-bottom: 100px solid #FFC107;
  border-left: 100px solid transparent;
  height: 0px;
  width: 1px;
  transform: scale(0);
  transform-origin: 50% 100%;
}
@keyframes bottom {
  10% { transform: scale(0); }
  90% { transform: scale(1); }
  100% { transform: scale(1); }
}
#line {
  animation: line 5s linear infinite;
  border-left: 1px dotted #FFC107;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 100px;
  left: 100px;
}
@keyframes line {
  10% { height: 100px; }
  100% { height: 100px; }
}
