    /*Your Custom Style sheet goes here*/

@keyframes wiggle {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
div {
  position: absolute;
  left: 50%;
  top: 50%;
}

b {
  position: absolute;
  display: block;
  border-radius: 5%;
  transform: rotate(-10deg);
}
