    /*Your Custom Style sheet goes here*/

div {
	font-family: 'Lato', sans-serif;
	font-size: 80px;
	text-align: center;

	top: 40%;
	width: 99%;
	display: table-cell;
	vertical-align: middle;

	cursor: pointer;
}

body {
	width: 100%;
	height: 100%;

	display:table;

	bottom: 0;
	left: 0;
	right: 0;
	top: 0;

	overflow: hidden;

}

html {
  height:100%;
}
