    /*Your Custom Style sheet goes here*/

*{
	margin:0;
	padding:0;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box
}

body
{
	font-size:75%;
	background:#222;
	font-family:arial;
	padding:20px 0 0 20px
}
