    /*Your Custom Style sheet goes here*/

*{
	margin:0;
	padding:0;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box
}

body
{
	font-size:75%;
	background:#222;
	font-family:arial;
	padding:20px 0 0 20px
}

canvas
{
	border:1px solid #181818;
	display:block;
	box-shadow:0 0 10px #111;
	background:rgba(20,20,20,1)
}
